html, body, #main {
    height: 100%;
    margin: 0px;
    padding: 0px
}
html {
	height: 100%;
	background: url('../img/location_1440x900.jpg') no-repeat center center fixed;
	background-size: cover;

	/*    ~~ older IE compatibility ~~   */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/pin.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='..img/pin.jpg', sizingMethod='scale')";
}
body {
	font-family: "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
#container {
	max-width: 960px;
	height: 85%;
}
.center {
	margin: 0 auto;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
#footer {
	clear: both;
}
header {
	height : 10%;
}
/*header img {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}*/
.height_auto {
	height: auto !important;
}
.hide {
	display: none;
}
.land_textpic {
	display: block;
	width : 80%;
}
#locate {
	right: 10px;
}
/*.location_button {
	display: inline-block;
	width:47.2%;
	height:50vh;
	line-height:50vh;
	margin: 1%;
	font-size:2em;
	cursor: pointer;
	box-shadow: 1px 1px 3px 1px;
	background: linear-gradient(to bottom, #2162a6 0%, #3e9afb 100%);
}*/
.location_button {
	position: absolute;
	bottom: 2px;
	display: inline-block;
	width:37.2%;
	height:10vh;
	line-height:10vh;
	margin: 5%;
	font-size:1.5em;
	cursor: pointer;
	/*box-shadow: 1px 1px 3px 1px;
	background: linear-gradient(to bottom, white 0%, white 100%);*/
}
#map_holder {
	display: none;
	height: 70%;
	width: 95%;
	margin: 0px auto;
	border: 1px solid black;
}
#map_menu {
	display: none;
	bottom: 25%;
}
#mark {
	left: 10px;
}
.margin10 {
	margin : 10px;
}
button {
	border-radius : 10%;
	padding : 10px;
}
.text-center {
	text-align: center;
}




/****** DEBUG ******/
.spins {
    -webkit-animation: whirl 1s 5; /* Chrome, Safari, Opera */
    animation: whirl 1s 5;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes whirl {
    0%   {transform: rotateY(0deg);}
    25%  {transform: rotateY(90deg);}
    50%  {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}
}

/* Standard syntax */
@keyframes whirl {
    0%   {transform: rotateY(0deg);}
    25%  {transform: rotateY(90deg);}
    50%  {transform: rotateY(180deg);}
    100% {transform: rotateY(0deg);}}
}
