html, body, #main {
    height: 100%;
    margin: 0px;
    padding: 0px
}
body {
	font-family: "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
#container {
	max-width: 960px;
	height: 85%;
}
.center {
	margin: 0 auto;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
#footer {
	clear: both;
}
header {
	height : 10%;
}
header h2 {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.hide {
	display: none;
}
#locate {
	float: right;
}
.location_button {
	display: inline-block;
	width:47.2%;
	height:50vh;
	line-height:50vh;
	margin: 1%;
	font-size:2em;
	cursor: pointer;
	box-shadow: 1px 1px 3px 1px;
	background: linear-gradient(to bottom, #2162a6 0%, #3e9afb 100%);
}
#map_holder {
	display: none;
	height: 70%;
	width: 95%;
	margin: 0px auto;
	border: 1px solid black;
}
#map_menu {
	display: none;
	bottom: 25%;
}
.margin10 {
	margin : 10px;
}
button {
	border-radius : 10%;
	padding : 10px;
}
.text-center {
	text-align: center;
}
/*@media only screen and (max-width: 709px) {
	.location_button {
		font-size:1em;
	}
}	*/
